body {
  margin: 0;
  font-family:"Open Sans" , sans-serif;
  padding: 20px 40px;
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black
}

* {
  box-sizing: border-box;
}

